body {
    font-family: "Montserrat", sans-serif;
    background: #111111;
}

.main-img{
    margin-top: 24px;
    width: 187.5px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#card_1, #card_2, #card_3, #card_4 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
    width: 250px;
    height: 300px;
    border-radius: 26px;

}

.card-img {
    width: 98px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
}

.card-title {
    margin-left: 29px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.card-price{
    display: inline-block;
    margin-left: 29px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.card-spec{
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    color: #898888;
    font-weight: 300;
}

.card-description{
    margin-left: 29px;
    margin-top: 5px;
    font-size: 10px;
    color: #898888;
    font-weight: 300;
}

button{
    width: 128px;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 13px;
    font-size: 14px;
    font-weight: 450;
}

#form {
    margin-top: 48px;
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-text{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 750;
    color: #ffffff;
}

#user_name, #user_phone {
    margin-top: 6px;
    background-color: #222222;
    color: white;
    border-radius: 4px;
    width: 256px;
    height: 18px;
    outline-style: revert;
    outline-color: #0055B8;
    border: none;
}

#send {
    margin-top: 24px;
}



